.content {
  padding-left: 100px;
}

.forms {
  padding-left: 100px;
}

.body {
}

.card_label {
  background-color: red;
  padding-bottom: 15px;
  padding-top: 15px;
  padding-left: 15px;
  padding-right: 15px;
}

.profile_heading {
  padding-left: 10px;
}
