.content {
  padding-left: 100px;
}

.forms {
  padding-left: 100px;
}

.body {
  padding-left: 1100px;
}

.card_label {
  width: 30rem;
  padding-bottom: 15px;
  padding-top: 15px;
  padding-left: 15px;
  padding-right: 15px;
}
