{% extends "base.html" %}

{% block title %}
Gallery
{% endblock %}

{% block body %}
{{pics}}
{% set i = 0 %}
{% for pic in pics %}
{% set picLink = pic["image"] %}
<a href="/draw/view?id={{pic['id']}}">
    <img src="{{picLink}}"><br>
    <caption>
      {{numIncorrect[i]}}
      {{idL[i]}}
      {{ pic['word'] }}:
        {{ pic['guesses']|length }} guesses,
        {% if pic['solved'] %} solved {% else %} unsolved {% endif %}
    </caption>
</a>
<br>
{% set i = i + 1 %}
{% endfor %}
{% endblock %}
