{% extends "base.html" %}

{% block title %}
Guessing Image
{% endblock %}
{% block body %}
<center>
<h1 class="display-4">What do you think this object is?</h1>
<br>
<img src="{{link}}">
<br>
<br>
<form method="POST" action="/guess/score?id={{id}}">
  <h5> Object: </h5>
  <input type="text" name="guess" class="form-control" style="width: 40%;">
  <input type="hidden" class="form-control" name="id" value="{{id}}">
  <br>
  <input class="btn btn-outline-success btn-lg" type="submit" value="Submit">
</form>
</center>
{% endblock %}
