{% extends "base.html" %}
{% block title %}
{{title }}
{% endblock %}
{% block body %}
<center>
<div class="jumbotron" style="margin-top: -26px;">
  <h1 class="display-4"> Welcome to DrawNet! </h1>
  <p class="lead">An online multi-player Pictionary game</p>
  <hr class="my-4">
  <p class="lead">
  <div class="container">
    <div class="row">
{% if loggedin %}
       <div class="col">
	        <a class="btn btn-outline-success btn-lg float-right" href="/draw/new" role="button">DRAW</a>
	     </div>
	     <div class = "col">
	        <a class="btn btn-outline-success btn-lg float-left" href="/guess" role="button">GUESS</a>
	     </div>
{% else %}
	     <div class="col">
	        <a class="btn btn-outline-success btn-lg float-right" href="/account/login" role="button">Log In</a>
	     </div>
	     <div class = "col">
	        <a class="btn btn-outline-success btn-lg float-left" href="/account/create" role="button">Create an Account</a>
	     </div>
{% endif %}
	  </div>
  </div>
</div>
<div class="container" style="width: 90%;">
  <h1 style="display-4" > INSTRUCTIONS </h1>
  <ul class="list-group list-group-flush" style="text-align: left;">
    <li class="list-group-item">Create an account and log in.</li>
    <li class="list-group-item">You'll be able to create drawings. On the canvas, there is a color picker, fill bucket, dropper, a color replacer, a scale to adjust brush thickness, and an option to recolor the entire canvas (there are more detailed instructions on the canvas page). After submitting your drawing, other users will guess your drawing. You will then get notifications regarding whether they guessed correctly and what their guesses were. Once your drawing has been solved, it will be marked as solved and will not be guessed by other users.</li>
    <li class="list-group-item">Moreover, you can also guess other users' drawings. The "Guess" page shows several drawings by other users (will say none available if others have not created drawings). Clicking on a drawing brings you to a page where you can type what you think the object is into a text field. Upon submission, you will know whether you guessed correctly or not (+5 points to your "Guesser Score" if correct).</li>
    <li class="list-group-item">You can view all drawings in the "Gallery" page. Clicking each drawing brings you to a page containing only that drawing and info like number of incorrect guesses.</li>
    <li class="list-group-item">In addition, you can view all of the drawings (by other users) that you have guessed in the "Guessed Drawings" route. Clicking each drawing leads to a page containing only that drawing and info like who drew it.
</li>
    <li class="list-group-item">The notifications page contains all of your notifications (unseen notifications are highlighted). Clicking on each notification brings you to a new page with info like all the guesses for the associated drawing (and will also mark the notification as read).
</li>
    <li class="list-group-item">The "Profile" page displays "Artist Score" (score from your drawings), "Guesser Score" (score from guessing other users' drawings), "Best Image" (and score), "Worst Image" (and score). It also gives you the option to update your profile picture, which you also could have done when creating an account.
</li>
  </ul>
</div>
</center>

{% endblock %}
