<html>
<body>
{% block content1 %}

<h2>
  Create your account
</h2>

<br>
{% with messages = get_flashed_messages() %}
      {% if messages %}
        {% for message in messages %}
        <font color="red">{{ message }}</font><br>
        {% endfor %}
      {% endif %}
{% endwith %}

<form method="POST" action="/account/create/post">

	
  Username: <input type="text" name="username">
	<br>
  URL to profile picture image: <input type="text" name="pfp">
  <br>
	Password: <input type="password" name="password">
	<br>
  Retype password: <input type="password" name="passwordConfirm">
  <br>
  <input type="submit" name="form" value="Submit">

</form>

{% endblock %}
</body>
</html>
