{% extends "base.html" %}
{% block body %}
    {% block content1 %}


    <div class = "col-md-6 container login">
    <form method="POST" action="/account/login/post">

      {% with messages = get_flashed_messages() %}
      {% if messages %}
      <div class="alert alert-warning alert-dismissible fade show" role="alert">
        {% for message in messages %}
        <strong style="color: red;">{{ message }}</strong><br>
        {% endfor %}
      </div>
      {% endif %}

      {% endwith %}
      <div class="form-group">
        <label> Username </label>
        <input type="text" class="form-control" name="username" placeholder="Enter username">
    </div>
    <label> Password </label>
      <input type="password" class="form-control" name="password" placeholder="Enter password"><br>
      <input type="submit" name="login" value="Submit" class="btn btn-primary">
    </form>
  </div>

    <a href="/account/create">Create Account</a>

    {% endblock %}
    {% endblock %}
