<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
  </head>
  <body>
    {% block content1 %}
    Welcome to the main page 
    <br>

    <form method="POST" action="/account/login/post">
      {% with messages = get_flashed_messages() %}
      {% if messages %}
        {% for message in messages %}
        <strong style="color: red;">{{ message }}</strong><br>
        {% endfor %}
      {% endif %}
      {% endwith %}
      Username: <input type="text" name="username"><br>
      Password: <input type="password" name="password"><br>
      <input type="submit" name="login" value="Submit">
    </form>
    <br>

    <a href="/account/create">Create Account</a>

    {% endblock %}
  </body>
</html>
