{% extends "base.html" %}

{% block title %}
Notifications
{% endblock %}

{% block body %}
<br><br><br>
<h1>Notifications</h1>
{% if notis|length > 0 %}
    {% for noti in notis %}
        {% if noti["seen"] == False %}
        <p style="background-color: #C9F1FF;">
        {% else %}
        <p>
        {% endif %}
            <a href="/notification/view?time={{noti['timestamp']}}&amp;redir={{noti['link']}}">{{noti["message"]}}</a><br>
            {{ noti["timestamp"] }}
        </p>
    {% endfor %}
{% else %}
    <b>You don't have notifications yet</b>
{% endif %}
{% endblock %}
