{% extends "base.html" %}

{% block title %}
User Profile
{% endblock %}

{% block body %}
<br><br><br><h1>Profile</h1>
<a href="/update/profile">Update Profile</a>
<div class="container">
    <div class="row">
        <div class="col col-md-4"><img src="{{pfp}}"></div>
        <div class="col"><h1>Welcome, {{ username }}</h1><h3>You made {{ number }} drawings</h3></div>
    </div>
</div>
<h2>Artist Score: {{artistScore}}</h2><br>
<h2>Guesser Score: {{guesserScore}}</h2><br>

<h3>Best Drawing:</h3><br>
{% if bestScore == "N/A" %}
<img src="{{best}}">
{% else %}
<a href="/draw/view?id={{bestId}}"><img src="{{best}}"></a><br>
{% endif %}
<h5>Score: {{bestScore}}</h5><br><hr><br>
<h3>Worst Drawing:</h3><br>
{% if worstScore == "N/A" %}
<img src="{{worst}}">
{% else %}
<a href="/draw/view?id={{worstId}}"><img src="{{worst}}"></a>
{% endif %}
<h5>Score: {{worstScore}}</h5>
{% endblock %}
