{% extends "base.html" %}

{% block title %}
User Profile
{% endblock %}

{% block body %}
<center>
<div class="card card_label">
  <h1 class="display-4">Welcome, {{ username }}!</h1>
</div>
<br>
<div class="container">
    <div class="row">
        <div class="col">
          <img src="{{pfp}}" style="max-width: 80%; max-height: 500px;">
        </div>
    </div>
</div>
<hr>
<a class="btn btn-outline-warning btn-lg btn-block" style="max-width: 80%;" href="/update/profile">Update Profile Picture</a>
<br>
<div class="container">
    <div class="row">
    <h1 class"display-4"> <center> SCORES: </center> </h1>
  </div>
  <div class="row">
     <div class="col">
        <h3 class="float-right">Artist | {{artistScore}}</h3>
     </div>
     <div class = "col">
        <h3 class="float-left">{{guesserScore}} | Guesser</h3>
     </div>
  </div>
</div>

<br>

<div class="container">
    <div class="row">
        <div class="col-6 card" style="padding-top: 15px;">
          <h3>Best Drawing</h3>
          <hr>
          <h3 class="text-muted">Score - {{bestScore}}</h3>
          <br>
          {% if bestScore == "N/A" %}
          <img src="{{best}}">
          {% else %}
          <a href="/draw/view?id={{bestId}}">
            <img src="{{best}}">
          </a>
          {% endif %}
          <br>
        </div>
        <div class="col-6 card" style="padding-top: 15px;">
          <h3>Worst Drawing</h3>
          <hr>
          <h3 class="text-muted">Score - {{worstScore}}</h3>
          <br>
          {% if worstScore == "N/A" %}
          <img src="{{worst}}">
          {% else %}
          <a href="/draw/view?id={{worstId}}">
            <img src="{{worst}}">
          </a>
          {% endif %}
          <br>
        </div>
    </div>
</div>

</center>
{% endblock %}
