{% extends "base.html" %}

{% block title %}
Score
{% endblock %}

{% block body %}

<br>
<center>
<div class="card" style="width: 30rem; padding-bottom: 25px; padding-top: 25px; padding-left: 15px; padding-right: 15px;">

{% if accuracy %}
<h1 class="display-4">Correct!</h1>
<p class="lead">+5 Points!</p>
{% else %}
<h1 class="display-4">Sorry, Incorrect!</h1>
<p class="lead">+0 Points :(</p>
{% endif %}

<a class="btn btn-outline-success" href="/guess" role="button">Guess Other Drawings</a>
</div>
</center>

{% endblock %}
